html
    head
        title nodejsera
    body
        h1 this is an example of nested tags
        div
            p this is under div which is under body tags
        p this is outside div
        footer this is a footer
            