//Problem 
p We can't just create a new p tag for every
p paragraph line we create

//Solution

p
	| Hence we use piping to avoid this problem
	| as long as we are piping the content
	| it is going to remain in a single tag
	| the relevant HTML is given below